# general ignores
*~
*.bak
*.log
*swp
tmp

# project specific
*.a
aclocal.m4
arrayDemo
autom4te.cache
BLOCXX_config.h
blocxx.pc
blocxx-*.tar.*
BLOCXX_to_UTF8
capture
cmdLineParser
collections
config.guess
config.h
config.h.in
config.log
_configs.sed
config.status
config.sub
configure
depcomp
.deps
docs
Doxyfile
Doxygen.warnings
dynamicCmdLineParser
execute
exitWithSignal
fillOutputBuffer
GenCaseFoldingCompare
GenCaseFoldingCompareTests
GenCaseMappings
grep
iconv
iconv_test1
install-sh
intRef
intrusiveRef
libblocxx.*
libblocxx_test.*
libLazyGlobalTestLibrary*
listDemo
loggers
Makefile
Makefile.in
mapDemo
match
MemTracerTest
missing
*.o
Organizer*
pcre
regex
replace
replacement_script.sed
runMultiProcessLogger
set_test_libpath.sh
sharedLib
sharedLibs
*.so*
split
stamp-h1
*TestCases
threads
unitMain
utils
*.vpj
*.vpw
*.vpwhistu
*.vtg
#
# but keep theese
!blocxx*/examples/*/
#
# debian specific rules
/*.changes
/*.deb
/*.debian.tar.*
*.dh-orig
dpkg-gensymbols*
/*.dsc
/*.upload
*/.pc/
*/debian/*/
*/debian/autoreconf.*
*/debian/*.debhelper
*/debian/*.ex
*/debian/files
*/debian/*.log
*/debian/*.substvars
#
# but keep theese
!*/debian/docs
!*/debian/patches/
!*/debian/source/
