*~
*.a
aclocal.m4
arrayDemo
autom4te.cache
autoreconf.after
autoreconf.before
*.bak
BLOCXX_config.h
blocxx.pc
blocxx-*.tar.*
BLOCXX_to_UTF8
capture
*.changes
cmdLineParser
collections
config.guess
config.h
config.h.in
config.log
_configs.sed
config.status
config.sub
configure
*.deb
*.debhelper
*.debian.tar.*
depcomp
.deps
*.dh-orig
docs
*.dsc
Doxyfile
Doxygen.warnings
dpkg-gensymbols*
dynamicCmdLineParser
*.ex
execute
exitWithSignal
files
fillOutputBuffer
GenCaseFoldingCompare
GenCaseFoldingCompareTests
GenCaseMappings
grep
iconv
iconv_test1
install-sh
intRef
intrusiveRef
libblocxx.*
libblocxx*/
libblocxx_test.*
libLazyGlobalTestLibrary*
listDemo
*.log
loggers
Makefile
Makefile.in
mapDemo
match
MemTracerTest
missing
*.o
Organizer*
.pc/
pcre
regex
replace
replacement_script.sed
runMultiProcessLogger
set_test_libpath.sh
sharedLib
sharedLibs
*.so*
split
stamp-h1
*.substvars
*swp
*.swp
*TestCases
threads
tmp
unitMain
*.upload
utils
*.vpj
*.vpw
*.vpwhistu
*.vtg
!blocxx*/examples/*/
!blocxx*/debian/docs
