#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

AM_VERSION=-1.9
export ACLOCAL = aclocal${AM_VERSION}
export AUTOMAKE = automake${AM_VERSION}
export LIBTOOLIZE = true

%:
	dh $@ --with autoreconf,autotools-dev

override_dh_auto_configure:
	# activate some special configure-options
	dh_auto_configure -- \
		--enable-64-bit-build \
		--enable-iconv \
		--enable-ipv6 \
		--enable-debug-mode \
                --enable-stack-trace

override_dh_auto_clean:
	dh_auto_clean
	# remove files which are left over by make dist-clean
	rm -f ./blocxx_header_test_file.h ./config.log

override_dh_autotools-dev_restoreconfig:
	dh_autotools-dev_restoreconfig
	# remove backup-files
	rm -f ./*.dh-orig

override_dh_strip:
	dh_strip --dbg-package=libblocxx-dbg
