#!/usr/bin/make -f
#export DH_VERBOSE=1

export LIBTOOLIZE = true

%:
	dh $@ --with autoreconf,autotools-dev

override_dh_autoreconf:
	rm -rf	aclocal.m4 \
		autom4te.cache \
		blocxx_header_test_file.h \
		config.cache \
		config.guess \
		config.log \
		config.sub \
		depcomp \
		missing \
		mkinstalldirs \
		test/unit/set_test_libpath.sh \
		Makefile.in \
		config.h.in \
		configure \
		doc/Makefile.in \
		examples/Makefile.in \
		examples/cmdLineParser/Makefile.in \
		examples/collections/Makefile.in \
		examples/iconv/Makefile.in \
		examples/intrusiveRef/Makefile.in \
		examples/loggers/Makefile.in \
		examples/pcre/Makefile.in \
		examples/regex/Makefile.in \
		examples/sharedLibs/Makefile.in \
		examples/threads/Makefile.in \
		examples/utils/Makefile.in \
		install-sh \
		src/Makefile.in \
		src/blocxx/BLOCXX_config.h \
		src/blocxx/Makefile.in \
		src/blocxx_test/CppUnit/Makefile.in \
		src/blocxx_test/Makefile.in \
		test/Makefile.in \
		test/unit/Makefile.in
	dh_autoreconf

override_dh_auto_configure:
	dh_auto_configure -- \
		--enable-64-bit-build \
		--enable-c++0x \
		--enable-debug-mode \
		--enable-stack-trace \
		--enable-iconv \
		--enable-ipv6 \
		--enable-pcre

override_dh_auto_clean:
	dh_auto_clean
	rm -rf	aclocal.m4 \
		autom4te.cache \
		blocxx_header_test_file.h \
		config.cache \
		config.guess \
		config.log \
		config.sub \
		depcomp \
		missing \
		mkinstalldirs \
		test/unit/set_test_libpath.sh

override_dh_autotools-dev_restoreconfig:
	dh_autotools-dev_restoreconfig
	rm -f	*.dh-orig

override_dh_strip:
	dh_strip --dbg-package=libblocxx-dbg
